@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.container {
    display: flex;
    background-color: var.$background-color-base;

    @include mix.tablet-styles {
        display: flex;
        flex-direction: column;
    }
}