@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

footer {
    p {
        font-size: calc(var.$font-weight-small);
        color: var.$text-color-primary;
        margin-bottom: 0;
    }
    a {
        font-weight: var.$font-weight-bold;
    }

    @include mix.tablet-styles {
        display: none;
    }
}